body {
    box-sizing: border-box;
    margin: 0;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.canvas {
	position: absolute;
	left: 5vmin;
	top: 5vmin;
	border: 1px solid #ccc;
    height: 90vmin;
	width: 90vmin;
}

.island {
	stroke: #333;
	stroke-width: 4px;
	fill: #fff;
	r: 40px;
}

.label {
	font-size: 60px;
	text-anchor: middle;
	dominant-baseline: central;
}