body {
    box-sizing: border-box;
    margin: 0;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
}

.canvas {
	position: absolute;
	left: 5vmin;
	top: 5vmin;
	border: 1px solid #ccc;
    height: 90vmin;
	width: 90vmin;
	user-select: none;
}

.node {
	stroke: #333;
	cursor: pointer;
}

.island {
	stroke-width: 4px;
	fill: #fff;
	r: 40px;
	pointer-events: visible;
}

.node:hover .island {
	fill: #8ff;
}

.node:active .island {
	fill: #44f;
}

.node:active .label {
	stroke: #fff;
	fill: #fff;
}

.node .island.down,
.node .island.up {
	fill: #848;
}

.label {
	fill: #333;
	font-size: 60px;
	text-anchor: middle;
	dominant-baseline: central;
	pointer-events: none;
}

.bridge {
	stroke: #333;
	stroke-width: 4px;
	cursor: pointer;
}

.bridge:hover {
	stroke: #8ff;
}